#custom_css{height:160px!important;overflow:scroll!important;text-align: left!important;direction: ltr!important;}
#content.bootstrap .panel-heading .panel-heading-action a#desc-stprovideos-edit{color:#E54D26;}