.calculate_totals.spinning:before {
    background-image: none !important;
}

.calculate-price a.calculate_totals.spinning {
    padding: 8px 20px 8px 35px;
}

.spinning {
    min-height: 30px;
    position: relative;
}

.spinning:before {
    content: "";
    position: absolute;
    transform: translate(-50%, -53%);
    top: 8px;
    z-index: 999;
    left: 9px;
    border: 2px solid #eee;
    border-radius: 50%;
    border-top: 3px solid #fff;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-add-to-cart.spinning:before {
    background-image: none !important;
}

.main-add-to-cart.spinning span {
    display: none;
}

.calculate-price-green a.main-add-to-cart.spinning {
    padding: 8px 20px 8px 35px;
}

.spinning {
    min-height: 30px;
    position: relative;
}

.spinning:before {
    content: "";
    position: absolute;
    transform: translate(-50%, -53%);
    top: 8px;
    z-index: 999;
    left: 9px;
    border: 2px solid #eee;
    border-radius: 50%;
    border-top: 3px solid #fff;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.right-frm-section .dropdown i {
    float: right;
    margin-top: 2px;
}

.right-frm-section .dropdown.active i {
    transform: rotate(180deg);
}

.configure-area {
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #dedede;
    border-bottom: none;
    padding: 15px 0 0;
    display: grid;
    letter-spacing: 1px;
}

.configure-area h2 {
    padding-left: 15px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    margin-bottom: 0;
    color: #252422;
    font-weight: 700;
}

.frm-section {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dedede;
}

.left-frm-section {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #252422;
    font-weight: 500;
    padding: 8px 15px;
}

.unit_price_value {
    font-style: italic;
    font-weight: 500;
}

.frm-section.unit_prices {
    line-height: 18px;
}

.heading-frm-sec {
    display: flex;
    width: 100%;
}

.heading-frm-sec-left {
    width: 60%;
    font-size: 14px;
    color: #252422;
    font-weight: 600;
    padding: 8px 15px;
}

.heading-frm-sec-right {
    width: 40%;
    font-size: 14px;
    color: #111;
    padding: 8px 15px;
    text-align: right;
}

.left-frm-section-label {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #252422;
    font-weight: 600;
    padding: 18px 15px 17px 15px;
}

.right-frm-section-price {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #252422;
    font-weight: 500;
    padding: 10px 15px;
    text-align: right;
}

.right-frm-section {
    width: 50%;
    float: left;
    padding: 10px 15px;
}

.calculate-price {
    background: #ff0000;
    color: #fff;
    width: auto;
    display: inline-block;
    margin: 10px 15px 10px 0;
    float: right;
    border-radius: 5px;
}

.calculate-price:hover {
    background: #ff0000;
}

.calculate-price a {
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
}

.calculate-price-green {
    background: #1eb246;
    color: #fff;
    width: auto;
    display: inline-block;
    margin: 24px 15px 24px 0px;
    float: right;
    border-radius: 5px;
}

.calculate-price-green:hover {
    background: #7d7d7d;
}

.calculate-price-green a {
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
}

.no-bottom-boder {
    border-bottom: none !important;
}

.no-bottom-boder .left-frm-section {
    font-size: 18px;
}

.no-bottom-boder .right-frm-section-price {
    font-size: 18px;
    font-weight: 600;
}

.number-area {
    width: 50%;
    float: left;
    border: 1px solid #dedede;
    height: 35px;
    border-radius: 0;
    text-align: center;
    background-color: #fff !important;
    color: #252422;
}

.number-area:focus {
    outline: none;
}

.plus {
    width: 25%;
    text-align: center;
    margin-left: -1px;
    float: left;
    background: #fff;
    border: 1px solid #dedede;
    font-size: 12px;
    color: #252422;
    cursor: pointer;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-top: 7px;
}

.minas {
    width: 25%;
    margin-right: -1px;
    float: left;
    background: #fff;
    border: 1px solid #dedede;
    font-size: 12px;
    color: #252422;
    cursor: pointer;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding-top: 7px;
}

.minas:focus,
.plus:focus {
    outline: none;
}

.dropdown-area {
    width: 100%;
    border: 1px solid #dedede;
    font-size: 14px;
    color: #252422;
    font-weight: 500;
    padding: 5px 15px;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    text-align: left;
}

.dropdown .dropdown-menu {
    width: 100% !important;
    padding: 15px !important;
    border-radius: 5px;
}

.dropdown .dropdown-menu a {
    color: #000 !important;
    margin-bottom: 14px;
    display: block;
}

.dropdown .dropdown-menu li:last-child a {
    margin-bottom: 0;
}

.dropdown-area.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    float: right;
    margin-top: 8px;
}

.dropdown.open .dropdown-area.dropdown-toggle:after {
    transform: rotate(180deg);
}

.dropdown-area:focus {
    outline: none;
}

.calculate-price a:focus {
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: unset;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #eee;
    color: #4a4a4a;
    text-align: justify;
    font-style: italic;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    text-rendering: auto;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip i {
    font-size: 12px;
    width: 14px;
    height: 14px;
    text-align: center;
    margin-right: 0;
    color: #4b4b4a;
    position: relative;
    left: 2px;
    top: 0px;
}

.dropdown {
    color: #dedede;
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 35px;
    font-size: 14px;
}

.btn-select {
    position: relative;
    min-width: 100%;
    width: 100%;
    background: #fff;
}

.btn-select .btn-select-value {
    padding: 8px 12px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 36px;
    z-index: 999;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.btn-select ul li {
    padding: 5px 10px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: #000;
}

@media only screen and (max-width: 479px) {
    .configure-area {
        width: 100%;
    }
}

.error_var {
    color: red;
}

.cursor_not_allowed {
    cursor: not-allowed;
}

.disable_add_to_cart {
    background-color: #7d7d7d !important;
    border-radius: 5px;
    pointer-events: none;
}

li.disabled {
    background-color: #7d7d7d !important;
    pointer-events: none;
    opacity: 0.7;
    position: relative;
}

li.disabled::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: not-allowed;
    z-index: 1;
}

.calculate-price-green .add-to-cart {
    font-size: 13px!important;
    padding: 7px 20px!important;
}

.unit_prices .unit_price, .single_unit_prices .single_unit_price {
    display: flex;
}

.unit_price_label {
    width: 100%;
}

.unit_price_right {
    width: 40%;
}